body {
    background: orangered;
}

header {
    background-image: url(graf-sixteen.jpg);
    height: 200px;
    padding-top: 2%;
    padding-left: 55%;
    font-size: 40px;
}

nav {
    float: left;
    background-color: rgb(20, 20, 20);
    width: 20%;
    height: 500px;
}

ul {
    list-style: square;
    color: rgb(178, 216, 11);
}

li {
    padding-left: 4%;
    padding-top: 10%;
}

article {
    float: left;
    background-color: rgb(240, 108, 0);
    width: 80%;
    height: 500px;
}

footer {
    float: left;
    background-color: rgb(126, 9, 57);
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    color: chartreuse;
    font-size: 10px;
}

#art {
    padding-left: 20%;
    padding-top: 3%;
}

#art2 {
    display: inline-block;
    padding: 30px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1000px) {
    header,
    nav,
    article {
        width: 100%;
        height: auto;
    }
}